body{
    background-color:  #f5f5f5;
}

/* -------------------------------------------Upper Container ----------------------------------------------------- */

/* .upper-col{
    border: 1px solid black;
} */

.choose-plans-text{
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
}

.radio-button-container{
    background-color: whitesmoke;
    overflow: hidden;
    
} 

.radio-button-container{
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="radio"]{
    display: none;
}

.label1, .label2{
    display: inline-block;
    background-color: white;
    padding: 3%;
    height: 50%;
    width: 35%;
    position: relative;
    transition: 0.5s;
    color: #2c2c2c;
    box-shadow: 0px 0px 8px grey;
}

@media only screen and (max-width: 1200px) {
    .label1, .label2{
        width: 45%;
    }
}

@media only screen and (max-width: 993px) {
    .upper-container .upper-col{
        width: 100%;
    }
    .label1, .label2{
        width: 30%;
        height: 95%;
    }
}

@media only screen and (max-width: 770px) {
    .upper-container .upper-col{
        width: 100%;
    }
    .label1, .label2{
        width:40%;
        height: 90%;;
    }
}

.label2{
    right: 0;
}

.radio-button-span{
    justify-content: center;
    align-items: center;
}

input:checked+label{
    /* background-position: 0 -90px; */
    color: white;
    background-color: #2c2c2c;
    
}

/* -------------------------------------- Middle Rectangle Boxes ------------------------------------- */
.plan-cost-monthly-education, .plan-cost-yearly-education{
    display: block;
}

.education-monthly, .education-yearly{
    display: block;
}

.plan-cost-monthly-business, .plan-cost-yearly-business{
    display: none;
}

.business-monthly, .business-yearly{
    display: none;
}

.recBox{
    border: 1px solid lightgray;
    /* height: auto; */
    box-shadow: 0px 0px 20px rgb(196, 196, 196);
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    background-color: whitesmoke;
    margin-bottom: auto;
}


@media only screen and (max-width: 993px) {
    .recBox{
    width: 100%;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: auto;
}

    .recBox-yearly{
        margin-bottom: 40px;
    }
}

.plans-heading{
    font-size: 1rem !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    
}

.plan-cost{
    float: right !important;
    font-weight: 700;
    font-size: 1.5rem;

}

.list-group{
    font-size: 0.9rem;
}

.list-group-item{
    border: none;
    background-color: whitesmoke;
    color: grey;
    line-height: 150%;
}

.addOns .addOns-head button{
    color: grey;
    outline: none;
}

.addOns .addOns-head button i{
    font-weight: bolder;
}

.addOns .addOns-head button:focus{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 0.9rem;
}

.addOns{
    border: none;
}

.addOns .addOns-head i{
    color: rgb(42, 132, 206);
}

.addOns .addOns-body{
    background-color: whitesmoke;
    color: grey;
    font-size: 0.8rem;
}

/* ----------------------------------------     Bottom Buttons ------------------------------------- */

.buttons-col{
    width: 30%;
    margin: auto;
    border-top: 1px dashed grey;
}

.plans-button{
    border-radius: 8px;
    border: 1px dashed white;
    height: 2.7rem;
    width: 55%;
    color: white;
    font-size: 1.05rem;
    transition: ease 0.2s;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    
}

.plans-button:focus{
    outline: none;
    border: 1px solid white;
}

.plans-button:hover{
    font-size: 1.085rem;
    font-weight: 400px;
    background-color: white;
}

.free-button:hover{
    color: #5cb85c;
    border: 1px dashed #5cb85c;
    box-shadow: 0px 0px 10px #5cb85c;
}

.buy-now-button:hover{
    color: rgb(42, 132, 206);
    border: 1px dashed rgb(42, 132, 206);
    box-shadow: 0px 0px 10px rgb(42, 132, 206);
}

.free-button{
    background-color: #5cb85c;
}

.buy-now-button{
    background-color: rgb(42, 132, 206);
}
